asgiref==3.8.1
Django~=3.2.4
djangorestframework~=3.11.0
django-cors-headers~=3.2.1
#django-filter~=2.2.0
django-filter
djangorestframework-jwt==1.11.0
psycopg2-binary==2.8.6
djangorestframework-recursive
#drf-schema-adapter
rest-pandas
pandas
drf-renderer-xlsx
drf-yasg
numpy
Pillow
#django-seed
#aspose-cells
jpype1
#django-redis
#django-debug-toolbar
openpyxl
celery
redis
django-celery-email
django-celery-beat
reportlab